{%extends "base.html" %}

{%block body %}

<h1>Document Classification</h1>
<p>This webapp classifies a Gunosy article to one of their categories</p>
<p>Please provide an url below</p>
<form action = "" method="get">
    <label>
        url：<input type="url" size = "30" name ="url">
        <input type="submit" name="Enter">
    </label>
</form>

{% if category %}
    <h2>Predicted class: {{category}} </h2><br>
{% else %}
    <h2> Please enter URL. </h2><br>
{% endif %}

{% if article_title %}
    <h2>{{article_title}}</h2><br>
    <p>{{article_text}}</p>
    <img src={{img_url}} alt="Cannot load imge"/>
{% endif %}

{% endblock %}
